:root {
	--primary-text-color: rgba(0, 0, 0, 0.8);
	--title-text-color: #000000;
	--accent-color: #18a0fb;
	--primary-bg-color: #ffffff;
}

body {
	color: var(--primary-text-color);
	background-color: var(--primary-bg-color);
}

.logo {
	color: var(--title-text-color);
}

.list {
	list-style: none;
}

.header__menu .link {
	color: var(--accent-color);
}

.header__menu .link.current {
	color: var(--title-text-color);
}
.header__menu .link:hover,
.header__menu .link:focus {
	color: var(--title-text-color);
}
/* Hero */
.hero__title {
	color: var(--title-text-color);
}

/* Section */
.section__title {
	color: var(--title-text-color);
}

/* Adventage */

.advantages__list .title {
	color: var(--title-text-color);
}

.advantages__list .link {
	color: var(--accent-color);
}
.examples__list .title {
	color: var(--title-text-color);
}

.footer__menu .title {
	color: var(--title-text-color);
}

.footer__menu .link {
	color: var(--primary-text-color);
}

.footer__menu .link:hover,
.footer__menu .link:focus {
	color: var(--accent-color);
}

.button {
	color: var(--title-text-color);
	background-color: var(--primary-bg-color);
}

.button.primary {
	color: var(--primary-bg-color);
	background-color: var(--accent-color);
}

.button.secondary {
	color: var(--accent-color);
	background-color: var(--primary-bg-color);
}
